html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Dit is Section 1 - gemaakt door Finn*/
/*_________________ Finn's Gedeelte _________________*/

/* ============ Section 1 ============ */

#section-one {
    border-bottom: 1px solid;
}

/* ============ Wrapper ============ */

.behandeling-wrapper{
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;    
}

/* ============ Fancy Button ============ */

#fancy-button-treatment {
    display: inline-block;

    height: 40px;
    width: 100px;
    
    border-radius: 20px;
    border: 1px solid black;
    
    text-align: center;
}

/* ======== Buttons ========*/

#treatment-choose-btn {
    margin-left: 65%;

    display: inline-block;
    
    border-radius: 20px;
    border: 1px solid black;
    
    text-align: center;
}

.gender-button-centering{
    margin: auto;
}

/* ============ Treatments ============ */



/* ======== List Styling ========*/

.treatments-unordered-list {
    padding-left: 3px;
}

#treatment-list-styling{
    list-style-type: none;
}

#treatments-list-items {
    list-style-type: none;
    margin-top: 5px;
}

/* ======== Flexbox ========*/
.treatment-container{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.treatment-container > div{
    background-color: snow;
    width: 400px;
    padding: 5px;

    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

#treatment-titles{
    background-color: orange;
}


/* Dit is Section 2 - gemaakt door Wesley*/
/* _________________ Wesley's Gedeelte _________________ */

h3 {
    text-align: center;
}

body * {
    transition: 0.4s;
}

.homePage {
    border-bottom: black 1px solid;
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: grid;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.landing-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'landing-left landing-right';
}

.landing-left {
    grid-area: landing-left;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
}

.landing-right {
    grid-area: landing-right;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    gap: 20px;
}

.styles-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'styles pricelist';
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
}

.styles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    justify-content: right;
}

.preview {
    width:  120px;
    height: 120px;
}

.priceList {
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .landing-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'landing-left'
        'landing-right';
    }

    .styles-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'priceList'
        'styles';
    }
}

/* _________________ Floris' Gedeelte _________________ */

/* _________________ Max's Gedeelte _________________ */