* {
    font-family: Calibri, "helvetica neue", helvetica, arial, serif;
}

html, body, ul {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style-type: none;
}

/* Dit is Section 1 - gemaakt door Finn*/
/*_________________ Finn's Gedeelte _________________*/

/* ============ Section 1 ============ */
/* ============ Wrapper ============ */

.behandeling-wrapper {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* ============ Selected treatment ============ */
.treatment-selected {
    text-align: center;
}

#selected-treatment-title {
    margin-bottom: 0;
}


#selected-treatment-display {
    margin-top: 0;
}

/* ============ Fancy Button ============ */
/* ======== Buttons ========*/

.treatment-choose-btn {
    margin-left: 100px;

    display: inline-block;

    border-radius: 20px;
    border: 1px solid black;

    text-align: center;

    width: 100px;
}

/* ============ Treatments ============ */
#painting-treatments {
    display: none;
}

#cutting-treatments {
    display: none;
}

#verzorgen-treatments {
    display: none;
}


/* ======== List Styling ========*/

.treatments-unordered-list {
    padding-left: 3px;
}

#treatment-list-styling {
    list-style-type: none;
}

#treatments-list-items {
    list-style-type: none;
    margin-top: 5px;
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.behandeling-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    margin-right: 10px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* ======== Flexbox ========*/
.treatment-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.treatment-container > div {
    /*background-color: snow;*/
    width: 500px;
    padding: 5px;

    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

#treatment-titles {
    background-color: var(--darkblue);
    font-size: 22px;
}


/* Dit is Section 2 - gemaakt door Wesley*/
/* ============ Section 2 ============ */
/* _________________ Wesley's Gedeelte _________________ */

:root {
    /*--blue: #00C2BA;*/
    /*--darkBlue: #037A90;*/
    /*--pink: #FF8FCF;*/
    /*!*--darkPink: #CE96FB;*!*/
    /*--darkPink: #191233;*/

    /*kleurenschema:
    Dark Blue: #12232E

    Lighter Blue: #007CC7

    Lightest Blue: #4DA8DA

    Shadow of Dark Blue: #203647

    Shadow of Light Blue: #EEFBFB

    */
    --darkblue: #12232E;
    --lighterblue: #007CC7;
    --lightestblue: #4DA8DA;
    --shadowdarkblue: #203647;
    --shadowlightblue: #EEFBFB;


    /* test
    --purple: #3f4574;
    --darkPurple: #9268c2;
    --lightPurple: #98aadf;
    --blue: #5e78d1;
    --teal: #5cc4dc;
    --porcelain: #c8d8f0;
    --pink: #d1abe5;
    --orange: #b69b9d;
    --sand: #e1cac4;
    */
    --txtColor: white;

    --paddingBottomTop: 90px;
}

p {
    color: white;
    font-size: 19px;
}

ul {
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    color: white;
    font-size: 20px
}

h4, h3, h2, h1 {
    text-align: center;
}

h1 {
    padding: 30px 0 20px 0;
    color:white;
}

h2{
    color:white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

.sectionPurple {
    background-color: var(--lightestblue);
    padding: 1px 1px;
}

.sectionPinkAlt {
    background-color: var(--darkblue);
}

.sectionBlueAlt {
    background-color: var(--shadowdarkblue);
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.homePage {
    border-bottom: black 3px solid;
    overflow: hidden;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: grid;
    justify-content: center;
    padding: var(--paddingBottomTop) 0 var(--paddingBottomTop) 0;
}

.landing-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'landing-left landing-right';
}

.landing-left {
    background-color: var(--darkBlue);
    border: white 3px solid;
    grid-area: landing-left;
    padding: 10px 20px 10px 20px;
    margin: 92px auto 92px auto;
    color:white;
}

.landing-left p{
    color:white;
}

.landing-right {
    display: grid;
    grid-template-areas:
        'expandingImage'
        'preview-container';
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.expandingImage {
    max-width: 100%;
    height: auto;
}

.gallery-image {
    height: 327px;
    width: 474px;
}

.preview-container {
    display: inline-flex;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    gap: 50px;
}

.services-wrapper > div {
    background-color: var(--blue);
    border: black 3px solid;
    padding: 40px 10px 10px 10px;
}

.styles-wrapper {
    padding-bottom: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'pricelist pricelist pricelist';
}

.styles-wrapper > div {
    background-color: var(--lighterblue);
    border: black 3px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    justify-content: center;
}

.preview {
    width: 120px;
    height: 120px;
}

.priceList {
    margin-left: 40px;
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
    gap: 33px;
}

.team-wrapper > div {
    border: black 3px solid;
    background-color: var(--blue);
    margin-bottom: 50px;
    padding: 30px 10px 0px 10px;
}

.avatar {
    border: 3px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 500px;
}

.brand {
    height: 120px;
    padding-right: 50px;
    margin-bottom: 30px;
}

.gallery-preview {
    float: left;
    height: 60px;
    padding: 10px;
}

.reserveer-button {
    border: black 3px solid;
    color: white;
    background-color: var(--darkBlue);
    position: fixed;
    bottom: 0;
    right: 33px;
    padding: 0 15px 0 15px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.gallery-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: var(--paddingBottomTop);
}

.footer-wrapper > div {
    border: black 3px solid;
    background-color: var(--lighterblue);
    width: 300px;
    margin: 10px;
    text-align: center;
    padding-bottom: 20px;
}

/*

Main container header 2 padding bottom fix

wat:? extra padding boven plaatjes;
*/

#section-two .main-container h2 {
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .landing-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'landing-left'
        'landing-right';
    }

    .styles-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'priceList'
    }
}

/* ============ Section 3 ============ */
/* _________________ Floris' Gedeelte _________________ */
table, th, td {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    background-color: var(--darkPink);
    text-align: center;
}

#agenda th {
    background-color: #F3F3F3;
    border: 1px solid #C0C0C0;
    text-align: center;
    font-weight: normal;
}

td:hover {
    background-color: #eee;
    color: red;
    cursor: pointer;
}

#tableheader th {
    background-color: #dfdfdf;
    border-bottom: 2px solid #18314F;
    border-right: 1px solid #dfdfdf;
}

#reserveringsdiv {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    border: 2px solid #18314F;
}

#reserveringsknop {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#reserveringsknop:hover {
    background-color: #18314F;
    padding: 16px 33px;
    transition: 0.5s;
}

/*TODO: De primaire kleur van de website bepaald de kleur van de agenda! */
.unavailable {
    background-color: #333333;
    text-decoration: line-through;
    border: 1px solid #222222;
}

.unavailable:hover {
    background-color: red;
    cursor: not-allowed;
}

.selected {
    border: 1px solid green;
    background-color: #03AC13;
}

.selected:hover {
    background-color: green;
    color: green;
}

/*#3CB043;*/
.days {
    font-size: 18px;
}

.headerrow {
    width: 90px;
    height: 50px;
    font-size: 13px;
}

.headercolumn {
    width: 70px;
    font-size: 18px;
}

.square {
    margin: 20px;
    text-align: center;
    width: 80px;
    height: 80px;
}

button::-moz-focus-inner {
    border: 0;
}

/* minimal BUTTON
*******************************************************************************/
button.minimal {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 14px/1 Calibri, "helvetica neue", helvetica, arial, sans-serif; /**/
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
}

button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

/* green-minimal BUTTON
*******************************************************************************/
button.greenminimal {
    background: #57B257;
    border: 1px solid darkgreen;
    border-radius: 2px;
    color: white;
    font: bold 14px/1 Calibri, "helvetica neue", helvetica, arial, sans-serif; /**/
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 grey;
    width: 150px;
}

button.greenminimal:hover {
    background: #45a049;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    cursor: pointer;
}

button.greenminimal:active {
    background: #376e37;
    -webkit-box-shadow: inset 0 0 1px 1px #45a049;
    box-shadow: inset 0 0 1px 1px #45a049;
    color: #999999;
    text-shadow: none;
}

/* disabled button styles works with this markup: <button disabled="disabled">Submit</button>button[disabled],
*******************************************************************************/
button[disabled]:hover,
button[disabled]:active {
    cursor: not-allowed;
    background: #b7b7b7;
    box-shadow: none;
    color: #3f3f3f;
}

/* ============ Section 3B ============ */
/* LEGENDA onder kalender*/

.legenda {
    display: grid;
    align-content: center;
    justify-content: center;
}

.legenda p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    float: left;
    font-size: 16px;
    color: black;
    padding-left: 15px;
    font-family: Calibri, "helvetica neue", helvetica, arial, serif;
}

.legenda input {
    border: 2px solid #000000;
    width: 90px;
    padding: 1.5px;
}

.legenda #A {
    background-color: #03AC13;
    float: left;
    margin-left: 10px;
}

.legenda #B {
    background-color: black;
    float: left;
    margin-left: 10px;
}

.legenda #C {
    background-color: #DDDDDD;
    float: left;
    margin-left: 10px;
}

.legenda fieldset {
    /*background-color: #f2f2f2;*/
    width: 400px;
    border: 2px solid #000000;
    margin-top: 40px;
    margin-bottom: 20px;
}

.legenda legend {
    font-size: 20px;
}

.legenda h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-family: Calibri, "helvetica neue", helvetica, arial, serif;
}

/* Afspraak tijd */

.reserveer-wrapper p {
    font-family: Calibri, "helvetica neue", helvetica, arial, serif;
    font-weight: bold;
    font-size: 1.5em;
}

.reserveer-wrapper .container {
    margin-bottom: 25px;
}

.afspraakdag .normaal p {
    text-align: center;
}

/* ============ Section 4 ============ */
/* _________________ Max's Gedeelte _________________ */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    float: right;
}

button {
    float: right;
    margin-right: 4px;

}

#button3 {

    border: 2px solid black;
}

.required-fields p {

    color: black;
}

.container {
    background-color: #f2f2f2;
    padding: 22px;
    border: 2px solid #18314F;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;

}

.col-75 {
    float: left;
    width: 72.5%;
    margin-top: 6px;
}

/* stukken ruimte na de rijtjes*/
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 2px;
}

.container .row .col-25 label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 2.5px;
}

.container .row .col-75 input {
    font-size: 15px;
    justify-content: center;

}

/* Form valid/invalid novalidate in form*/
.form {
    position: relative;
}

input + span {
    position: absolute;
    justify-content: right;
    right: -5px;
}

input + span::before {
    position: absolute;
    bottom: 10px;
}

input:invalid {
    border: 2px solid #e74c3c;
}

input:valid {
    border: 2px solid #2ecc71;
}

input:invalid + span::before {
    content: '✖';
    color: red;
}

input:valid + span::before {
    content: '✓';
    color: green;
}

textarea {
    font-size: 16px;
}

.main-container .reserveer-wrapper h2, h1, p {
    text-align: center;
}

/* onder 600px media query */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=button] {
        width: 94%;
        margin-top: 0;
    }
}