html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Dit is Section 1 - gemaakt door Finn*/
/*_________________ Finn's Gedeelte _________________*/
/* ============ Fancy Button ============ */

#fancy-button-treatment {
    display: inline-block;

    height: 40px;
    width: 100px;
    
    border-radius: 20px;
    border: 1px solid black;
}

/* ============ Treatments ============ */

/* ======== Grid ========*/
.treatmentcontainer{
    display: grid;
    grid-template-columns: auto;
    
    padding: 2px;
}

#id-treatment-container {
    display: block
}



/* Dit is Section 2 - gemaakt door Wesley*/
/* _________________ Wesley's Gedeelte _________________ */

h3 {
    text-align: center;
}

.homePage {
    border-bottom: black 1px solid;
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: grid;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.landing-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'landing-left landing-right';
}

.landing-left {
    grid-area: landing-left;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
}

.landing-right {
    grid-area: landing-right;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    gap: 20px;
}

.styles-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'styles pricelist';
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    text-align: center;
}

.styles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    justify-content: right;
}

.preview {
    width:  120px;
    height: 120px;
}

.priceList {
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .landing-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'landing-left'
        'landing-right';
    }

    .styles-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        'priceList'
        'styles';
    }
}

/* _________________ Floris' Gedeelte _________________ */
body {
    font-family: Calibri, sans-serif, Verdana;
}
table, th, td {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
#agenda th {
    background-color: #F3F3F3;
    border: 1px solid #C0C0C0;
    text-align: center;
    font-weight: normal;
}
td:hover {
    background-color: #eee;
    color: red;
    cursor: pointer;
}
#tableheader th {
    background-color: #dfdfdf;
    border-bottom: 2px solid #18314F;
    border-right: 1px solid #dfdfdf;
}
#reserveringsdiv {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    border: 2px solid #18314F;
}
#reserveringsknop {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#reserveringsknop:hover {
    background-color: #18314F;
    padding: 16px 33px;
    transition: 0.5s;
}
/*TODO: De primaire kleur van de website bepaald de kleur van de agenda! */
.unavailable {
    background-color: #333333;
    text-decoration: line-through;
    border: 1px solid #222222;
}
.unavailable:hover {
    background-color: red;
    cursor: not-allowed;
}
.selected {
    border: 1px solid green;
    background-color: #03AC13;
}
.selected:hover {
    background-color: green;
    color: green;
}
/*#3CB043;*/
.days {
    font-size: 18px;
}
.headerrow {
    width: 90px;
    height: 50px;
    font-size: 13px;
}
.headercolumn {
    width: 70px;
    font-size: 18px;
}
.square {
    margin: 20px;
    text-align: center;
    width: 80px;
    height: 80px;
}
button::-moz-focus-inner {
    border: 0;
}
/* minimal BUTTON
*******************************************************************************/
button.minimal {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 14px/1 Calibri, "helvetica neue", helvetica, arial, sans-serif;/**/
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
}
button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}
button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}
/* green-minimal BUTTON
*******************************************************************************/
button.greenminimal {
    background: #63b863;
    border: 1px solid darkgreen;
    border-radius: 3px;
    color: white;
    font: bold 14px/1 Calibri, "helvetica neue", helvetica, arial, sans-serif;/**/
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 grey;
    width: 150px;
}
button.greenminimal:hover {
    background: #45a049;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    cursor: pointer;
}
button.greenminimal:active {
    background: #376e37;
    -webkit-box-shadow: inset 0 0 1px 1px #45a049;
    box-shadow: inset 0 0 1px 1px #45a049;
    color: #999999;
    text-shadow: none;
}
/* disabled button styles works with this markup: <button disabled="disabled">Submit</button>button[disabled],
*******************************************************************************/
button[disabled]:hover,
button[disabled]:active {
    cursor: not-allowed;
    background: #b7b7b7;
    box-shadow: none;
    color: #3f3f3f;
}
/* _________________ Max's Gedeelte _________________ */
input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 22px;
    border: 2px solid #18314F;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* stukken ruimte na de rijtjes*/
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-top:2px;
}

.container .row .col-25 label{
    font-weight: bold;
    font-size:15px;

}

.container .row .col-25{

    text-align:left;
}
small{

    padding:5px;

}

h2, h1{

    text-align:center;
}
/* onder 600px media query */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}